body {
    background-color: lightblue;
    text-align: center;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 12px;
    background-color: white;
}

@media only screen and (max-width: 820px){
    main { margin: auto 20px; }
}

h1 {
    text-align: center;
    color: cornflowerblue;
}

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

button, input[type='submit'] { margin-top: 12px; }

/* Image */

.img-container {
    width: fit-content;
    margin: auto;
    position: relative;
}

.attribution {
    position: absolute;
    background-color: white;
    left: 0;
    bottom: 0;
    font-size: 0.5rem;
}

.restaurant-img { max-width: 100%; }

/* Rating */

.rating-container {
    display: flex;
    align-items: center;
    margin: auto;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px black;
    box-sizing: border-box;
}

.rating { margin: 0; }

.star-container { position: relative; }

.stars {
    white-space: nowrap;
    overflow: hidden;
}

.star-cover {
    height: 100%;
    position: absolute;
    right: 0;
    background: white;
}

/* Comment */

.comments-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    overflow-y: scroll;
}

.rave { background: #198754; }

.rant { background: #dc3545; }

.comment-form {
    display: grid;
    grid: 1fr 1fr 3fr 1fr / repeat(3, 1fr);
    gap: 0 10px;
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

.comment-form div {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.comment-legend { grid-column: span 3; }

.comment-rant input { margin: 10px; }

.comment-content { grid-column: span 3; }

.comment-submit { grid-column: 3; }