h1 {
    text-align: center;
    color: cornflowerblue;
}

.img-container { position: relative; }

.attribution {
    position: absolute;
    background-color: white;
    left: 0;
    bottom: 0;
    font-size: 0.5rem;
}

.restaurant-img { width: 90%; }